################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CRS.Solution/config
/Primesoft.Common.Web/bin
/Primesoft.Common.Web/obj
/CRS.Web/bin
/CRS.Web/obj
/CRS.Web/Properties/PublishProfiles
/CRS.Web/Web3.config
/CRS.Web/Web.Release.config
/CRS.Web/Web.Debug.config
/CRS.Web/packages.config
/CRS.Web/CRS.Web.csproj.user
/CRS.Web/.docstates.suo
/CRS.UnitTest/CRS.UnitTest/bin/Debug
/CRS.UnitTest/CRS.UnitTest/obj
/CRS.UnitTest/CRS.UnitTest/Web.Release.config
/CRS.UnitTest/CRS.UnitTest/Web.Debug.config
/CRS.UnitTest/CRS.UnitTest/CRS.UnitTest.csproj.vspscc
/CRS.Importer/bin/Debug
/CRS.Importer/obj
/CRS.Importer/CRS.Importer.csproj
/CRS.Helper/obj
/CRS.Helper/bin
/CRS.Helper/CRS.Helper.csproj.vspscc
/CRS.Helper/CRS.Helper.csproj.user
/CRS.Dal/obj
/CRS.Dal/bin
/CRS.Dal/web.Release.config
/CRS.Dal/web.Debug.config
/CRS.Dal/CRS.Dal.csproj.user
/.vs/CRS.Solution/v17
/CRS.BusinessEntities/obj
/CRS.BusinessEntities/bin
/CRS.BusinessEntities/Web.Release.config
/CRS.BusinessEntities/Web.Debug.config
*.user
/CRS.Bll/obj
/CRS.Bll/bin
/CRS.Bll/Web.Release.config
/CRS.Bll/Web.Debug.config
