<style type="text/css">
   
    .validationMessage { 
        color: #FF0000; 
        font-size:x-small;
        display: block;
        white-space: nowrap;
        float:none;
    }
    .input-validation-error { color: #FFA500; }
    .input-validation-error-pink { color: #FFC0CB; }
</style>

<form>
    <fieldset>
        <div class="columnBox">
            <div>
                <label>District Code</label>
                <input type="text" data-bind="value: districtCode" placeholder="District Code" />
            </div>
            <div>
                <label>District Name</label>
                <input type="text" data-bind="value: districtName" placeholder="District Name" />
            </div>           
            <div>
			     <label>Region:</label>
			     <div class="shortCombo">
						    <select id="ddRegion" data-bind="options: regionList, enable: enableRegion,
                            optionsText: 'Name',
                            optionsValue: 'Code',
                            value: regionCode,
                            optionsCaption: '-- All --'" ></select>
			    </div>
		    </div>
            <div>
			    <label>* Channel:</label>
			    <div class="shortCombo">
					    <select id="ddChannel" data-bind="options: channelList, 
                                                            optionsText: 'Name',
                                                            optionsValue: 'Code',
                                                            value: selectedChannel,
                                                            optionsCaption: '-- All --'" ></select>
			    </div>
		    </div>
            <div>
                <label>* TIN:</label>
                <input type="text" data-bind="value: tin" placeholder="TIN" />
            </div>
            <div>
                <label>* Account Name</label>
                <input type="text" data-bind="value: accountName" placeholder="Account Name" />
            </div>
            <div>
                <label>* Account Number</label>
                <input type="text" data-bind="value: accountNumber" placeholder="Account Number" />
            </div>
            <div>
                <label>* Bank Branch</label>
                <input type="text" data-bind="value: bankBranch" placeholder="Bank Branch" />
            </div>
        </div>
        <div>
            <div>
                <label style="font-size:small; font-weight:bold">* Fill up these fields when District should appear in EAPR  (e.g. IsDistrict - LA)</label>
            </div>
        </div>
    </fieldset>
</form>